*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    background-color: rgb(255, 255, 255);
}
.container{

 height: 100vh;
   
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.column{
  
    height: 60vh;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head h2{
    font-size: 2.2em;
    font-weight: bold;
}
.inputs{
    background-color: #eeeeee;
    padding: 9px 25px;
}
.input{
    width: 100%;
}
input{
    outline: none;
    border: none;
    background-color: #eeeeee;
    font-family: inherit;
    font-size: 19px;
    width: 100%;
    color: black;
  
}
.imgBx {
    width: 100%;
    height: 100%;
}
.imgBx img{
    width: 100%; 
    height: 100%;
}
 span i{
    font-size: 19px;
}
.inputs:hover>.icon span i{
   color: rgb(19, 189, 0);
}

.buttons:hover{
    background-color: rgb(26, 174, 9);
    color: white;
}

#button{
    padding: 7px 70px;
    background-color:#3304aa;
    border: none;
}
#button a{
    font-size: 18px;
}
 
.buttons{
    padding: 4px 20px;
    background-color:rgb(255, 255, 0);
    border: none;
}
.bi-eye-fill{
    display: none;
}
@media  screen and (max-width:995px) {
    .head1 h6{
        font-size: 13px;
    } 
    
}
